name: Terraform plan on main

on:
  push:
    branches:
      - main

jobs:
  terraform-plan-main:
    name: Terraform plan on main
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-session-token: ${{ secrets.AWS_SESSION_TOKEN }}
          aws-region: eu-central-1

      - name: Run terraform plan via composite action
        uses: ./.github/actions/terraform-run
        with:
          command: plan
